{{#blocks}}
{{#(type === 'class')}}
class
{{/(type === 'class')}}
### {{#title}}{{{title}}}{{/title}}{{^title}}{{{prelude}}}{{/title}}

{{#signature}}
> `{{{signature}}}`

{{/signature}}
{{{raw}}}
{{/blocks}}
